.wrapperSD {
  transform: scale(1.5);
}

.triangle-top{
    display: flex;
  }
  .triangle-top-left {
    border-top: 100px solid transparent;
    border-right: 100px solid transparent;
    position: relative;
  }
  .left-child {
    width:  calc(100.6px*1.414);
    height: 2px;
    content: '';
    left: -21px;
    display: block;
    background-color: black;
    position: absolute;
    top: -50px;
    transform: rotate(-45deg);
    border-radius: 10px;
  }
  
  .triangle-top-right {
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    position: relative;
  }
  
  .right-child {
    border-radius: 10px;
    width:  calc(100.2px*1.414);
    height: 2px;
    content: '';
    right: -21px;
    display: block;
    background-color: black;
    position: absolute;
    top: -50px;
    transform: rotate(45deg);
  }
  .triangle-bottom {
    position: relative;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
  }
  
  .bottom-child{
    border-radius: 10px;
    width:  200px;
    height: 2.5px;
    content: '';
    display: block;
    background-color: black;
    position: absolute;
    top: -100px;
    left: -100px;
  
  }
  .wrapperSD {
    display: flex;
    position: relative;
    bottom: 470px;
    left: 495px;
  }
  
  .triangle1{
    transform: rotate(270deg);
    position: absolute;
  }
  
  
  .triangle2{
    position: absolute;
    transform: rotate(180deg);
    left: 100px;
    top: -98px;
  }
  
  .triangle3{
    position: absolute; 
    top: 98px;
    left: 100px;
  }
  
  .triangle4{
    transform: rotate(90deg);
    position: absolute;
    left: 200px;
  }
  
  .rotate{
    transform: rotateX(180deg);
  }
  .hbh{
    width: 150px;
    height: 100px;
    transform: skew(45deg);
    background: transparent;
    position: absolute;
    left: 348px;
  
  }
  .hbh2{
    width: 150px;
    height: 100px;
    transform: skew(45deg);
    background: transparent;
    position: absolute;
    left: 348px;
    bottom: 100px;
  }
  .hbh-top{
    position: absolute;
    content: '';
    display: block;
    background-color: black;
    width: 150px;
    height: 2px;
    top: 0;
  }
  
  .hbh-bottom{
    position: absolute;
    content: '';
    display: block;
    background-color: black;
    width: 150px;
    height: 2.5px;
    bottom: 0;
  }
  
  .hbh-left{
    position: absolute;
    content: '';
    display: block;
    background-color: black;
    width: 2.5px;
    height: 100px;
    left: 0;
  }
  
  .hbh-right{
    position: absolute;
    content: '';
    display: block;
    background-color: black;
    width: 3px;
    height: 100px;
    right: 0;
  }
  .SoDoImage{
    display: block;
    position: absolute;
    top: -42px;
    left: -25px;
    width: 600px;
    height: 280px;
  }
  #EditImgA{
    display: block;
    position: absolute;
    top: -46px;
    left: 95px;
    width: 478px;
    height: 280px;
  }
  #EditImgL{
    display: block;
    position: absolute;
    top: -46px;
    left: -30px;
    width: 490px;
    height: 280px;
  }
  .none {
    background-color: #000;

  }
  
  .active{
    background-color: red;
    box-shadow: 4px 0px 6px orange;
  }
  
  .unActive{
    background: #ccc;
  }
  